 @font-face { 
     font-family: 'TnS'; 
     src: url('fonts/Time N Space.ttf');
}


body, html {
	font-family: helvetica;
    margin: 0%;
	color: #FFFFFF;
	background-image: url('stars.jpeg')
}

.menu {
  background-color: #333333;
  height: 80px;
}


.title {
    color: white;
    font-family: 'TnS';
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  background: linear-gradient(to bottom right, #18244a, #3e5589, #8087b3, #c8b1c3 );
  max-height: 50px;
  flex: 1 0 50%;
}

.container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
}

.container :nth-child(1) { order: 1; }
.container :nth-child(2) { order: 3; }
.container :nth-child(3) { order: 2; }
.container :nth-child(4) { order: 4; }


#logo {
    width: 150px;
}

#map {
	margin: 0 auto;
	height: 80vh;
    width: 50%; 
}


#weather {
	display: flex;
    width: 50%;
    flex-wrap: wrap;
}

#weather > .forecastMoment {
    width: 10%;
    overflow: hidden;
	text-align: center;
	background-color: #8087b3;
    margin: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
	border-radius: 6px;
	color: #444;
	font-size: 0.8em;
}

.temp {
	color: white;
	font-size: 1.3em;
}

.hidden {
	display: none;
}




/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body,html { 
        background-image: none;
        background-color: #333333;
  }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container :nth-child(1) { order: 1; }
    .container :nth-child(2) { order: 2; }
    .container :nth-child(3) { order: 3; }
    .container :nth-child(4) { order: 4; }
    #map {
        min-width: 100%;
    }
    #weather {
        min-width: 100%;
    }
}

/* Mobile */
@media only screen and (max-width: 400px) {
  body {
  }
    body, html {
        background-image: none;
        background-color: #333333;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container :nth-child(1) { order: 1; }
    .container :nth-child(2) { order: 2; }
    .container :nth-child(3) { order: 3; }
    .container :nth-child(4) { order: 4; }
    #map {
        min-width: 100%;
    }
    #weather {
        min-width: 100%; 
    }
    #weather > .forecastMoment {
        min-width: 100%;
    }
}
